* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18380f;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 2rem 1rem;
}

form {
    background-color: #152910;
    opacity: 75%;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 90%;
    margin: auto;
}

form > h1 {
    color: #989748;
    font-size: 1.5rem;
}

hr {
    width: 20%;
    margin: 0.5rem auto;
}

.inpLeft {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
    font-size: 1rem;
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

.inpText, .inpSele, .inpArea, .sub {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.inpText, .inpSele {
    outline: 2px solid #000;
}

.inpArea {
    height: 100px;
}

.sub {
    background-color: #989748;
    cursor: pointer;
}

.sub:hover {
    background-color: aqua;
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }

    form {
        padding: 3rem;
    }

    .inpText, .inpSele, .inpArea, .sub {
        width: 80%;
    }
    label{
     margin-left: 6em;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 800px;
    }

    form {
        padding: 3.5rem;
    }

    .inpText, .inpSele, .inpArea, .sub {
        width: 70%;
    }
}
